    .consultation {
        background: linear-gradient(84.17deg, rgba(82, 178, 220, 0.9) -1.24%, rgba(44, 110, 168, 0.9) 116.12%);
        &__wrap {
            position: relative;
            padding: 54px 0 54px 300px;
            @include respond-below(sm) {
                padding: 45px 0;
                text-align: center;
            }
        }
        &__img {
            position: absolute;
            bottom: -16px;
            left: 0;
            @include respond-below(sm) {
                z-index: -1;
                bottom: 8px;
            }
        }
        &__title {
            margin-bottom: 14px;
        }
        &__underline {
            margin-bottom: 20px;
        }
        &__form {
            margin: -15px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        &__input,
        &__btn {
            width: calc(100% / 3 - 30px);
            margin: 15px;
            @include respond-below(sm) {
                width: calc(100% / 1);
            }
        }
    }