.testimonials {
    padding: 100px 0;
    @include respond-below(sm) {
        padding: 45px 0;
    }
    &__wrap {
        text-align: center;
    }
    &__title {
        margin-bottom: 14px;
    }
    &__underline {
        margin-bottom: 48px;
    }
    &__txt {
        margin-bottom: 24px;
    }
    &__author {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        text-transform: capitalize;
        color: $color-black;
    }
    &__list {
        margin-bottom: 58px;
        text-align: left;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        &:nth-of-type(2n) {
            flex-direction: row-reverse;
        }
        &>div {
            width: calc(100%/2);
            @include respond-below(sm) {
                width: calc(100%/1);
            }
        }
    }
    &__txt-box {
        padding: 65px 45px;
        @include respond-below(sm) {
            padding: 20px 0;
        }
        h3 {
            margin-bottom: 24px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: $color-black;
        }
    }
    &__img-box {
        position: relative;
        min-height: 156px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}